
body {
    font-family: Arial, sans-serif;
    background-color: #f4f1ec;
    margin: 0;
    padding: 0 1em;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    padding-bottom: .25em;
    border-bottom: 2px solid black;
}


header h1 {
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #333;
   
}

.form-container {
    max-width: 85%;
    margin: 1em auto;
    padding: 2em;
} 

.form-row {
    display: flex;
    margin-right: 10px;
}
.form-group {
    flex:1;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 1em;
    margin-left: 1.5em;
   
}

.form-group label {
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 80%;
    padding: 10px 30px;
    border: 2px solid black;
    margin: 10px 0;
    font-size: 14pt;
}

.start_date {
    width: 100%;
}

.date-picker {
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-top: 33px;
    width: 97%;
}

.date-picker select {
    flex: 1;
    padding: 10px;
    border: 2px solid black;
    font-size: 14px;
    width: 120px;
    font-size: 14pt;
}

.form-group-checkbox {
    margin-left: 2.2em;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0.75em;
    margin-top: 0.5em;
}

.form-group-checkbox input[type="checkbox"] {

    transform: scale(2);
    margin-right: 1em;
}

.hidden {
    display: none;
}

.form-container button {
    width: 26%;
    padding: 13px;
    background-color: #ffbd59;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 1.5em 22.75em auto;
    letter-spacing: 0.5px;
    
}

.form-container button:hover {
    background-color: #ffde59;
}

img{
    width: 90%;
    background-size: cover;

}
.image-container {
    margin-top: 26px;
    text-align: center;
    max-width: 100%;
}
